<%- include('../header'); -%>
<h1 class="text-center"><%= title %></h1>    
<div id="vueSignUp" v-cloak></div>
<script src="/vue-apps/auth/va-signup.js"></script>
<%- include('../footer'); -%>        
