<%- include('../header'); -%>
<div id="vueAdminStatRequestsForm" v-cloak></div>
<script src="/vue-apps/admin/va-stat-requests-form.js"></script>
<script src="/vue-apps/components/table-quick.js"></script>
<script>
    // Se monta aquí para tener agregados los componentes
    app.mount('#vueAdminStatRequestsForm');
</script>
<%- include('../footer'); -%>