<%- include('../header'); -%>
<div id="vueAdminUploadForm" v-cloak></div>
<script src="/vue-apps/admin/va-upload-form.js"></script>
<script src="/vue-apps/components/table-quick.js"></script>
<script>
    // Se monta aquí para tener agregados los componentes    
    app.mount('#vueAdminUploadForm');
</script>
<%- include('../footer'); -%>